<?xml version="1.0"?>
<!--
   Superb_Recommend

   NOTICE OF LICENSE

   This source file is subject to the Open Software License (OSL 3.0), a
   copy of which is available through the world-wide-web at this URL:
   http://opensource.org/licenses/osl-3.0.php

   @category   Superb
   @package    Superb_Recommend
   @author     Superb <hello@wearesuperb.com>
   @copyright  Copyright (c) 2015 Superb Media Limited
   @license    http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Superb\Recommend\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">superbrecommend</argument>
        </arguments>
    </virtualType>
    <type name="Superb\Recommend\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">Superb\Recommend\Model\Session\Storage</argument>
        </arguments>
    </type>
    <type name="Superb\Recommend\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Superb\Recommend\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">recommendLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Superb\Recommend\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="superbrecommend_sync" xsi:type="object">Superb\Recommend\Console\Command\Sync</item>
                <item name="superbrecommend_update" xsi:type="object">Superb\Recommend\Console\Command\Update</item>
                <item name="superbrecommend_position" xsi:type="object">Superb\Recommend\Console\Command\Position</item>
                <item name="superbrecommend_webhook" xsi:type="object">Superb\Recommend\Console\Command\Webhook</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
        <plugin name="Superb_Recommend::applyPositionSort" type="Superb\Recommend\Plugin\Product\ProductList\Toolbar" sortOrder="100"/>
    </type>
</config>
