<?xml version="1.0"?>
<!--
   Superb_Recommend

   NOTICE OF LICENSE

   This source file is subject to the Open Software License (OSL 3.0), a
   copy of which is available through the world-wide-web at this URL:
   http://opensource.org/licenses/osl-3.0.php

   @category   Superb
   @package    Superb_Recommend
   @author     Superb <hello@wearesuperb.com>
   @copyright  Copyright (c) 2015 Superb Media Limited
   @license    http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_after">
        <observer name="superbrecommend" instance="Superb\Recommend\Observer\CustomerRegisterAndUpdate"/>
    </event>
    <event name="customer_login">
        <observer name="superbrecommend" instance="Superb\Recommend\Observer\CustomerLogin"/>
    </event>
    <event name="catalog_controller_product_view">
        <observer name="superbrecommend" instance="Superb\Recommend\Observer\ProductView"/>
    </event>
    <event name="catalog_controller_category_init_after">
        <observer name="superbrecommend" instance="Superb\Recommend\Observer\CategoryView" />
    </event>
    <event name="controller_action_postdispatch_checkout_cart_index">
        <observer name="superbrecommend" instance="Superb\Recommend\Observer\CartSave"/>
    </event>
    <event name="checkout_cart_save_after">
        <observer name="superbrecommend" instance="Superb\Recommend\Observer\CartSave"/>
    </event>
    <event name="wishlist_items_renewed">
        <observer name="superbrecommend" instance="Superb\Recommend\Observer\WishlistUpdated"/>
    </event>
    <event name="newsletter_subscriber_save_before">
        <observer name="superbrecommend" instance="Superb\Recommend\Observer\CheckSubscription"/>
    </event>
    <event name="newsletter_subscriber_delete_after">
        <observer name="superbrecommend" instance="Superb\Recommend\Observer\DeleteSubscription"/>
    </event>
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="superbrecommend" instance="Superb\Recommend\Observer\CheckoutPage"/>
    </event>
    <event name="controller_action_predispatch_multishipping">
        <observer name="superbrecommend" instance="Superb\Recommend\Observer\CheckoutPage"/>
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="superbrecommend_order" instance="Superb\Recommend\Observer\SetOnOrderSuccessPageViewObserver" />
        <observer name="superbrecommend_cart_save" instance="Superb\Recommend\Observer\CartSave"/>
    </event>
    <event name="multishipping_checkout_controller_success_action">
        <observer name="superbrecommend_order" instance="Superb\Recommend\Observer\SetOnOrderSuccessPageViewObserver" />
        <observer name="superbrecommend_cart_save" instance="Superb\Recommend\Observer\CartSave"/>
    </event>
</config>